{
    "root": true,
    "env": {
        "browser": true,
        "es2021": true,
        "jest": true
    },
    "extends": [
        "plugin:react/recommended",
        "plugin:i18next/recommended",
        "airbnb"        
    ],
    "plugins": [
        "react",
        "@typescript-eslint",
        "i18next"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "project": ["./tsconfig.json"],
        "ecmaVersion": "latest",
        "sourceType": "module"
    },    
    "settings": {
        "react": {
          "pragma": "React",
          "version": "detect"
        }
    },
    "globals": {
        "__IS_DEV__": true
    },
    "rules": {
        "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx", ".tsx"] }],
        "i18next/no-literal-string": ["error", { "markupOnly": true, "ignoreAttribute": ["to"] }],  
        "no-unused-vars": "warn",
        "react/jsx-props-no-spreading": "warn",
        "import/no-unresolved": "off",
        "import/prefer-default-export": "off",
        "react/function-component-definition": "off",
        "react/react-in-jsx-scope": "off",
        "react/require-default-props": "off",
        "no-shadow": "off",
        "import/extensions": "off",
        "import/no-extraneous-dependencies": "off",
        "no-underscore-dangle": "off"
    }
}
